@import "_variables";

main {
  height: 100vh;
  @include flex(space-evenly, center, column, _);
  .auth_container {
    height: fit-content;
    width: 20rem;
    @include flex(space-evenly, center, column, 1rem);
    img {
      height: 5rem;
      width: 5rem;
    }
    form {
      height: fit-content;
      width: 90%;
      padding: 25px 15px;
      background-color: $secondary-color-dark;
      border-radius: 8px;
      @include flex(space-evenly, flex-start, column, 0.7rem);
      .input {
        height: 2rem;
        width: 100%;
        border-radius: 8px;
        background-color: $button-secondary;
        outline: none;
        padding: 10px;
        border: none;
        &::placeholder {
          color: $paragraph-font-dark;
        }
      }
      label {
        color: $paragraph-font-dark;
        @include flex(space-evenly, center, row, 1rem);
        cursor: pointer;
        input {
          height: 1rem;
          width: 1rem;
          border-radius: 4px;
          cursor: pointer;
        }
      }
      button {
        height: 2rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: $button-main;
        color: $headers-dark;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        border: none;
        transition: 0.5s ease-in-out;
        letter-spacing: 3px;
        &:hover {
          scale: 1.01;
          background-color: $hover;
          color: black;
        }
      }
      .writing {
        color: $paragraph-font-dark;
        a {
          color: $button-secondary;
          text-decoration: none;
          text-transform: capitalize;
          transition: 0.3s ease-in-out;

          &:hover {
            color: #5552ff;
          }
        }
      }
    }
    //ALERT MSGS
    .alert {
      width: 90%;
      padding: 16px;
      margin-top: 1rem;
      .alert-title {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
      }
      .alert-content {
        margin: 0;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        color: #555555;
      }
    }
    .alert-3-danger {
      @include alert-3($danger-color);
    }
  }
}
